.logo{
    margin: 5px 10px;
    filter: hue-rotate(100deg) brightness(10%);
}
#imagen{
  margin-top: 0.5em;
    height: 220px;      
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    font-size: 3em;
    color: blueviolet;
    text-shadow: 0px 0px 5px white;
}
  .contenedor {
    display: flex;
    justify-content: center; 
    
  }
#incorrecto li{
  color: black;
  
}
main{
  display: flex;
  flex-direction: column;
  background-image: url("./imagenes/nf.jpg");
  box-shadow: 0 2px 100px black;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
#contenedor-todo{
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  box-shadow: 0 2px 100px black;
  width: 70%;
  background-color: rgba(240, 248, 255, 0);
}
  #imagen{
      display: flex;
      width: 50%;
      flex-direction: column;
      height: 350px;
      background-image: url(./imagenes/1.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      filter: hue-rotate(100deg) brightness(10%);
  }
  
  #contenedor-guiones{
    height: 20px;
    margin-bottom: 2em;
    margin-top: -2em;
  }
  #contenedor-guiones ul li{
    width: 32px;
  }
  #contenedor-palabra{
    height: 50px;
  }
  
  #incorrecto li{
    font-size: 2em;
    height: 29px;
  }

  .boton{
    font-size: 2em;
    margin-right: 0.5em;
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    margin-bottom: 1.5em;
    box-shadow: inset 0 10px 25px rgba(37, 15, 15, 0.125);
    border: 0;
    
  }
  #reiniciar{
    background-color: black;
    color: white;
  }
  #desistir{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
  }


